#!/usr/bin/env bash

{{ ansible_managed | comment }}

DOMAIN="${1}" KEYFILE="${2}" CERTFILE="${3}" FULLCHAINFILE="${4}" CHAINFILE="${5}" TIMESTAMP="${6}" ALIAS="${7}"

if [ {% if 'alias' in item %} "${ALIAS}" != "{{ item.alias }}" {% else %} "${DOMAIN}" != "{{ item.domain }}" {% endif %} ]; then
  exit 0
fi

CHANGED=0
{% for key in item.key %}
mkdir -p "$(dirname "{{ key.path }}")"
if ! ([  -f "{{ key.path }}" ] && cmp --silent "${KEYFILE}" "{{ key.path }}"); then
CHANGED=1
cp "${KEYFILE}" "{{ key.path }}"
{% if key.owner is defined %}
chown {{ key.owner }}: "{{ key.path }}"
{% elif key.owner is defined and key.group is defined %}
chown {{ key.owner }}:{{ key.group }} "{{ key.path }}"
{% elif key.group is defined %}
chown :{{ key.group }} "{{ key.path }}"
{% endif %}
chmod {{ key.mode | default('400') }} "{{ key.path }}"
fi
{% endfor %}

{% for cert in item.cert | default([]) %}
mkdir -p "$(dirname "{{ cert.path }}")"
if ! ([ -f "{{ cert.path }}" ] && cmp --silent "${CERTFILE}" "{{ cert.path }}"); then
CHANGED=1
cp "${CERTFILE}" "{{ cert.path }}"
{% if cert.owner is defined %}
chown {{ cert.owner }}: "{{ cert.path }}"
{% elif cert.owner is defined and cert.group is defined %}
chown {{ cert.owner }}:{{ cert.group }} "{{ cert.path }}"
{% elif cert.group is defined %}
chown :{{ cert.group }} "{{ cert.path }}"
{% endif %}
chmod {{ cert.mode | default('400') }} "{{ cert.path }}"
fi
{% endfor %}

{% for fullchain in item.fullchain|default([]) %}
mkdir -p "$(dirname "{{ fullchain.path }}")"
if ! ([ -f "{{ fullchain.path }}" ] && cmp --silent "${FULLCHAINFILE}" "{{ fullchain.path }}"); then
CHANGED=1
cp "${FULLCHAINFILE}" "{{ fullchain.path }}"
{% if fullchain.owner is defined %}
chown {{ fullchain.owner }}: "{{ fullchain.path }}"
{% elif cullchain.owner is defined and fullchain.group is defined %}
chown {{ fullchain.owner }}:{{ fullchain.group }} "{{ fullchain.path }}"
{% elif fullchain.group is defined %}
chown :{{ fullchain.group }} "{{ fullchain.path }}"
{% endif %}
chmod {{ fullchain.mode | default('400') }} "{{ fullchain.path }}"
fi
{% endfor %}

{% for chain in item.chain|default([]) %}
mkdir -p "$(dirname "{{ chain.path }}")"
if ! ([ -f "{{ chain.path }}" ] && cmp --silent "${CHAINFILE}" "{{ chain.path }}"); then
CHANGED=1
cp "${CHAINFILE}" "{{ chain.path }}"
{% if chain.owner is defined %}
chown {{ chain.owner }}: "{{ chain.path }}"
{% elif cullchain.owner is defined and chain.group is defined %}
chown {{ chain.owner }}:{{ chain.group }} "{{ chain.path }}"
{% elif chain.group is defined %}
chown :{{ chain.group }} "{{ chain.path }}"
{% endif %}
chmod {{ chain.mode | default('400') }} "{{ chain.path }}"
fi
{% endfor %}

{% if 'reload_cmd' in item %}
if [ ${CHANGED} -eq 1 ]; then
{{ item.reload_cmd }}
fi
{% endif %}
