#!/usr/bin/env bash

{{ ansible_managed | comment }}

set -e

DOMAIN="${1}" KEYFILE="${2}" CERTFILE="${3}" FULLCHAINFILE="${4}" CHAINFILE="${5}" TIMESTAMP="${6}" ALIAS="${7}"

for file in {{ dehydrated_deploy_dir }}/*.sh; do
    if [ -e "${file}" ]; then
        "${file}" "${DOMAIN}" "${KEYFILE}" "${CERTFILE}" "${FULLCHAINFILE}" "${CHAINFILE}" "${TIMESTAMP}" "${ALIAS}"
    fi
done

set +e
